<form method="POST" action="/projects/create">
    <input type="hidden" name="authenticity_token" value="<%=form_authenticity_token%>">

    <div class="form-group">
        <label for="name">Nombre</label>
        <input name="name" class="form-control">
    </div>

    <div class="form-group">
        <label for="description">Descripción</label>
        <input name="description" class="form-control">
    </div>

    <div class="form-group">
        <label for="start_date">Fecha de Inicio</label>
        <input type='date' name="start_date" class="form-control"></input>
    </div>
    
    <div class="form-group">
        <label for="end_date">Fecha de Término</label>
        <input type='date' name="end_date" class="form-control"></input>
    </div>

    <div class="form-group">
        <label for="state">Estado</label>
        <select name="state">
            <option value="Propuesta">Propuesta</option>
            <option value="En progreso">En progreso</option>
            <option value="Terminado">Terminado</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>

<%= link_to 'Ir al Dashboard', projects_dashboard_path %><br>